@font-face {
  font-family: "Quentin";
  src: url("fonts/Quentin.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TiemposFine";
  src: url("fonts/TiemposFine-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

.quentin {
  font-family: "Quentin";
}
.content_margin {
  margin: 0 2vw;
}
.content {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "TiemposFine";
}
.content__media {
  margin: 2vw;
}

.media {
  flex: 400px 1 1;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.media__title::before {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: yellow;
  margin: 5px 38%;
}

.media__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 24px;
  margin: 20px auto 0 auto;
  background-image: url("./image/fill.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.media__one_margin {
  margin: 0 4vw 4vw 4vw;
}
.media__one {
  flex-basis: 100%;
  height: 20vw;
  background-image: url("./image/spice.jpg");
  background-size: cover;
  color: white;
  font-size: 20px;
  overflow: hidden;

  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.media__two {
  flex-basis: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 23vw;
}
.media__text {
  color: white;
  text-decoration: none;
}

.content__image {
  flex: 400px 1 1;
  height: 33vw;
  margin: 2vw;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popap {
  margin: -2vw 0 0 0;
  position: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s ease 0s;
}

.popap__body {
  min-width: 250px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease 0s;
  transform: perspective(570px) translate(0, -100%) rotateX(60deg);

  /* padding: 20px 18px 5px 18px; */
  background-color: black;
}

.popap__control {
  color: rgb(250, 248, 248);
  background-color: rgb(240, 9, 9);
}
.popap:target {
  opacity: 1;
  visibility: visible;
}

.popap:target .popap__body {
  opacity: 1;
  transform: perspective(500px) translate(0, 0%) rotateX(0deg);
}
